<%- model_class = Departamento -%>
<div class="page-header">
<%= image_tag('title2.png', :width => '300') %>
  <h2 class="text-error">DEPARTAMENTOS</h12>
</div>

<%= form_tag request.path,:method => 'get' do %>
 <%= content_tag :label do %>
 <h4 class="muted">Nombre Departamento: </h4>
 <%= text_field_tag :search,params[:search] %>
 <%= submit_tag "Consultar", :class => 'btn btn-info', :nombre => nil%>
 <% end %>
<% end %>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  <p class="text-warning">Numero Registros:
    <%= text_field_tag :registro,params[:registro],:class =>'input-mini' %>
  </p>
   <% end %>
<% end %>

<table class="table table-hover table-bordered" id="table" >
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %><%= image_tag('id.png') %></th>
      <th><%= model_class.human_attribute_name(:foto) %><%= image_tag('foto1.png') %></th>
      <th><%= model_class.human_attribute_name(:nombre) %><%= image_tag('nombres.png') %></th>
      <th><%= model_class.human_attribute_name(:sigla) %><%= image_tag('sigla.png') %></th>
      <th><%= model_class.human_attribute_name(:pais) %><%= image_tag('pais1.png') %></th>
      <th><%= model_class.human_attribute_name(:Acciones) %><%= image_tag('acciones.png') %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr>
        <td><%= link_to departamento.id, departamento_path(departamento) %></td>
        <td><%= image_tag departamento.avatar.url(:lsmall) %> <%= departamento.nombre %></td>
        <td><%= departamento.nombre %></td>
        <td><%= departamento.sigla %></td>
        <td><%= departamento.pais_nombre %></td>
        
        
          <td><%= link_to image_tag('zoom.png'), pais_departamento_path(@pais, departamento), :title => "Mostrar" %>
          <%= link_to image_tag('editar.png'), edit_pais_departamento_path(@pais, departamento), :title => "Editar" %>
          <%= link_to image_tag('trash.png'), pais_departamento_path(@pais, departamento), :title => "Eliminar", :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está usted seguro?')) } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<td><center>
<%= link_to image_tag('add.png'), new_pais_departamento_path, :title => "Agregar Nuevo Departamento" %>
<%= link_to image_tag('back.png'), paises_path, :title => "Volver a Paises" %></center></td>
<div align="center">
 <%= will_paginate @departamentos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente&raquo;'%>
</div>
<br>
<p class="text-error">
<em>Total Departamentos : </em><%= @departamentos.total_entries %>
</p>