<%= simple_form_for(@mecanico, :html => { :class => 'form-horizontal', :multipart => true }, :remote => true) do |f| %>

  <%= f.error_notification %>

  <div class="responsive">

  <div class="modal-body">
          <%= image_tag('title1.png', :width => '300') %>
      <div class='row' id='infor'>

        <div class="span6">
          <center><h4>*Datos Obligatorios:</h4></center><hr>
          <%= f.label :documento_id %>
          <%= f.collection_select :documento_id, Documento.all, :id, :nombre, :prompt => "tipo de documento" %>
          <br><br>
          <%= f.input :numero_doc, :label => "numero_doc" %>
          <%= f.input :nombres, :label => "nombres" %>
          <%= f.input :direccion, :label => "direccion" %>
          <%= f.label :municipio_id %>
          <%= f.collection_select :municipio_id, Municipio.all, :id, :nombre, :prompt => "ciudad" %>
          <br><br>
          <%= f.input :telefonos, :label => "telefonos" %>
          <br>
          <%= f.input :email, :label => "email" %>
        </div>
      
        <div class="span3">
          <div class="row">
            <center><h4>Datos Opcionales:</h4></center><hr>
           <%= image_tag @mecanico.avatar.url(:small) %>
           <%= f.label :Foto %>
           <br><br>
           <%= f.file_field :avatar %>
           <br><br>

           <%= f.label :observaciones %> 
           <br><br>
           <%= f.text_area(:observaciones, :rows => 5, :placeholder => "Digite aquí: tarifas, horarios, valor de kilometraje, adicionales") %>
          </div>
        </div>
        <div class="span9">
          <div class="form-actions">
            <%= f.submit "Guardar", :class => 'btn btn-primary' %>
            <%= link_to 'Atras', mecanicos_path, :class => 'btn btn-small' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

