<%- model_class = Bombero -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:documento_id) %>:</strong></dt>
  <dd><%= @bombero.documento_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:numero_doc) %>:</strong></dt>
  <dd><%= @bombero.numero_doc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombres) %>:</strong></dt>
  <dd><%= @bombero.nombres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @bombero.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:municipio_id) %>:</strong></dt>
  <dd><%= @bombero.municipio_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefonos) %>:</strong></dt>
  <dd><%= @bombero.telefonos %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @bombero.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calificacion_id) %>:</strong></dt>
  <dd><%= @bombero.calificacion_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observaciones) %>:</strong></dt>
  <dd><%= @bombero.observaciones %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bomberos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bombero_path(@bombero), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bombero_path(@bombero),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
